{% extends 'base.html' %}
{% load static %}


{% block content %}
  <div class="jumbotron">
    <h1>Welcome to the Coffee Now</h1>
    <p>Here at the Coffee Bean Shop, we offer a wide variety of high-quality coffee beans from around the world.</p>
    <p>Take a look at our selection and place an order today!</p>
  </div>

  <div class="container">
      <div class="row featurette">
          <div class="col-md-7">
              <p>
                  Coffee Now is a small-scale, specialty coffee roaster that places a strong emphasis on quality,
                  sustainability, and transparency.
              </p>
          </div>
          <div class="col-md-5">
              <img class="featurette-image image-responsive" src="media/images/pexels-eyad-tariq-3879495.jpg"
                  alt="coffee">
          </div>
      </div>
      <div class="container">
          <div class="row featurette">
              <div class="col-md-5">
                  <img class="featurette-image image-responsive" src="media/images/pexels-eyad-tariq-3879495.jpg"
                      alt="coffee">
              </div>
          </div>
          <div class="col-md-7">
              <p>
                  Coffee Now is a small-scale, specialty coffee roaster that places a strong emphasis on quality,
                  sustainability, and transparency.
              </p>
          </div>
      </div>
      <div class="row featurette">
          <div class="col-md-7">
              <p>
                  Coffee Now is a small-scale, specialty coffee roaster that places a strong emphasis on quality,
                  sustainability, and transparency.
              </p>
          </div>
          <div class="col-md-5">
              <img class="featurette-image image-responsive" src="media/images/pexels-eyad-tariq-3879495.jpg"
                  alt="coffee">
          </div>
      </div>
  </div>
         
    
{% endblock %}
