{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="jumbotron">
    <h1>Welcome to the Coffee Now</h1>
    <p>Here at the Coffee Bean Shop, we offer a wide variety of high-quality coffee beans from around the world.</p>
    <p>Take a look at our selection and add it to your wishlist!!</p>
</div>

<div class="container intro-text">
    <div class="row align-items-center">
        <div class="col-md-7">
            <p>
                CoffeeNow takes great care in producing its coffee, using only the highest quality beans from around the
                world. The process begins with sourcing the best coffee beans, which are then carefully roasted to bring
                out their unique flavors and aromas. Our roasters use precision equipment to ensure that each batch of
                beans is roasted to perfection.
            </p>
        </div>
        <div class="col-md-5">
            <img class="img-fluid img-sm" src="{{ MEDIA_URL }}coffee.jpg" alt="coffee">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-5">
            <img class="img-fluid img-sm" src="{{ MEDIA_URL }}coffee.jpg" alt="coffee">
        </div>
        <div class="col-md-7">
            <p>
                At CoffeeNow, we take great pride in sourcing the best possible coffee beans from around the world. Our
                beans are carefully selected based on their unique flavors and characteristics, and we work closely with
                our suppliers to ensure that each bean is of the highest quality. We believe that the quality of our
                coffee starts with the beans, which is why we are committed to ethical and sustainable sourcing
                practices. Many of our coffee beans come from small, family-owned farms where the growers take great
                care in cultivating their crops..
            </p>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-7">
            <p>
                At CoffeeNow, we are passionate about providing our customers with the best possible coffee experience.
                From the sourcing of our beans to the brewing of our coffee, we take great care in every step of the
                process to ensure that each cup of coffee is of the highest quality. Our expert baristas are trained to
                create a variety of delicious coffee drinks, each one crafted to meet the unique tastes and preferences
                of our customers. We believe that a great cup of coffee can bring people together and create meaningful
                connections, which is why we are committed to providing a warm and welcoming environment in our cafes
            </p>
        </div>
        <div class="col-md-5">
            <img class="img-fluid img-sm" src="{{ MEDIA_URL }}coffee.jpg" alt="coffee">
        </div>
    </div>
</div>


{% endblock %}
