{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-4">Add a new product</h1>
    <form method="post" action="{% url 'add_product' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row mb-3">
            <label for="{{ form.name.id_for_label }}" class="col-sm-2 col-form-label">Name:</label>
            <div class="col-sm-10">
                {{ form.name }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="{{ form.description.id_for_label }}" class="col-sm-2 col-form-label">Description:</label>
            <div class="col-sm-10">
                {{ form.description }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="{{ form.price.id_for_label }}" class="col-sm-2 col-form-label">Price:</label>
            <div class="col-sm-10">
                {{ form.price }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="{{ form.image.id_for_label }}" class="col-sm-2 col-form-label">Image:</label>
            <div class="col-sm-10">
                {{ form.image }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="{{ form.roasting_level.id_for_label }}" class="col-sm-2 col-form-label">Roasting Level:</label>
            <div class="col-sm-10">
                {{ form.roasting_level }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="{{ form.flavor_profile.id_for_label }}" class="col-sm-2 col-form-label">Flavor Profile:</label>
            <div class="col-sm-10">
                {{ form.flavor_profile }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="{{ form.strength_level.id_for_label }}" class="col-sm-2 col-form-label">Strength Level:</label>
            <div class="col-sm-10">
                {{ form.strength_level }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-sm btn-outline-secondary">Add Product</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}