{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        {% if coffee.image %}
        <a>
          <img class="card-img-top" src="{{ coffee.image.url }}" alt="{{ coffee.name }}">
        </a>
        {% else %}
        <a>
          <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}coffee.jpg " alt=" {{ coffee.name }}">
        </a>
        {% endif %}
      </div>
      <div class="col-md-6">
        <h1>{{ coffee.name }}</h1>
        <hr>
        <p>{{ coffee.description }}</p>
        <h3>Details:</h3>
        <ul class="list-unstyled">
          <li><strong>Roasting Level:</strong> {{ coffee.roasting_level }}</li>
          <li><strong>Flavor Profile:</strong> {{ coffee.flavor_profile }}</li>
          <li><strong>Strength Level:</strong> {{ coffee.strength_level }}</li>
          <li><strong>Price:</strong> £{{ coffee.price }}</li>
        </ul>
        {% if request.user.is_authenticated %}
        <a href="{% url 'add_coffee_to_wishlist' coffee_id=coffee.id %}" class="btn btn-sm btn-outline-secondary">Add to Wishlist</a>
        {% endif %}
        <a href="{% url 'coffee_list' %}" class="btn btn-sm btn-outline-secondary">Back to Coffee List</a>
        {% if request.user.is_superuser %}
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'edit_product' coffee.id %}">Edit</a>
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'delete_product' coffee.id %}">Delete</a>
    {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
