@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=Oxygen:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: Oxygen, sans-serif;
    font-weight: 400;
    padding-bottom: 60px;
}

h1 {
    font-family: MuseoModerno, sans-serif;
}

 /* Footer Styling */

.footer-container {
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.footer-social{
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: right;
    margin-right: 2.3rem;
    letter-spacing: 60px;
    font-size: 20px;
}

.footer-social li a{
    color: white;
}

.list-inline a:hover{
    text-decoration: none;
}
