@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=Oxygen:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: Oxygen, sans-serif;
    font-weight: 400;
    padding-bottom: 60px;
}

h1 {
    font-family: MuseoModerno, sans-serif;
}

/* Header Styling */

.nav-title{
    color: white;
    font-size: 50px;
    letter-spacing: 5px;
}

.nav-item{
    justify-content: space-between;
    font-size: 20px;
    margin-left: 4rem;
    display: flex;
}

 /* Footer Styling */

.footer-container {
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.footer-social{
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: right;
    margin-right: 2.3rem;
    letter-spacing: 60px;
    font-size: 20px;
}

.footer-social li a{
    color: white;
}

.list-inline a:hover{
    text-decoration: none;
}


/* Home Page Styling */

.intro-text{
    margin-left: 4rem;
}

.img-sm{
    height: 70%;
    width: 70%;
    padding-left: 6rem;
}


/* Contact Page Styling */

#map {
    height: 400px;
    width: 100%; 
}