@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=Oxygen:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: Oxygen, sans-serif;
    font-weight: 400;
    padding-bottom: 60px;
    background-color: #F8F6F4;
    color: #AF7A49;
}

h1 {
    font-family: MuseoModerno, sans-serif;
}

hr {
    color: #4F4F4F   ;
}

/* Header Styling */

.navbar-dark .nav-title{
    color: #3F2929;
    font-size: 2.5rem;
    font-family: MuseoModerno, sans-serif;
}

.nav-item{
    justify-content: space-between;
    font-size: 20px;
    margin-left: 4rem;
    display: flex;
}

.navbar-dark .navbar-nav .active>.nav-link{
    color: #3F2929;
    text-decoration: none;

}

.navbar-dark .navbar-nav .coffee-nav-link{
    color: #3F2929;
}

.coffee-nav{
    background-color: #BFBFBF;
}

 /* Footer Styling */

.footer-container {
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    color: #3F2929;
}

.footer-social{
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: right;
    margin-right: 2.3rem;
    letter-spacing: 60px;
    font-size: 20px;
}

.footer-social li a{
    color: #3F2929;
}

.list-inline a:hover{
    text-decoration: none;
}

.coffee-footer{
    background-color: #BFBFBF;
}

.text-muted{
    color: #3F2929;
}


/* Home Page Styling */

.img-sm{
    height: 70%;
    width: 70%;
}
.intro-text {
    margin-top: 50px;
}

.intro-text p {
    margin-bottom: 30px;
}

.intro-text img {
    margin-bottom: 30px;
  }

/* Contact Page Styling */

#map {
    height: 400px;
    width: 100%; 
}