{% extends 'base.html' %}
{% block content %}
<h1>Add a new product</h1>
<form method="post" action="{% url 'add_product_b' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" id="submit-btn" class="btn btn-sm btn-outline-secondary">Add Product</button>
</form>
<script>
    const submitBtn = document.querySelector('#submit-btn');
    submitBtn.addEventListener('click', (event) => {
        event.preventDefault();
        alert('Product Added!');
        document.querySelector('form').submit();
    });
</script>
{% endblock %}