{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1>My Wishlist</h1>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="row"> 
                {% for item in wishlist %}
                    {% if item.CoffeeBean %}
                            <div class="col-md-4"> 
                                <div class="card mb-4 box-shadow">
                                    <a>
                                        <img class="card-img-top" src="{{ item.CoffeeBean.image.url }}" alt="{{ item.CoffeeBean.name }}">
                                    </a>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ item.CoffeeBean.name }}</h5>
                                        <small class="text-muted">£{{ item.CoffeeBean.price }}</small>
                                        <hr>
                                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'wishlist-delete' item.id %}">Delete</a>
                                    </div>
                                </div>
                            </div>
                    {% elif item.Accessory %}
                            <div class="col-md-4"> 
                                <div class="card mb-4 box-shadow">
                                    <a>
                                        <img class="card-img-top" src="{{ item.Accessory.image.url }}" alt="{{ item.Accessory.name }}">
                                    </a>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ item.Accessory.name }}</h5>
                                        <small class="text-muted">£{{ item.Accessory.price }}</small>
                                        <hr>
                                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'wishlist-delete' item.id %}">Delete</a>
                                    </div>
                                </div>
                            </div>
                    {% endif %}
                {% endfor %}
                </div> 
            </div>
        </div>
    </div>
{% endblock %}
